{% extends "layout.html" %} {%block title %} GetCode {%endblock%} {%block body%}
<div class="container ">
    <h1 class="display-3 align-items-xl-center">Latest Code Snippets</h1>
    <div class="row">
        {% if empty %}
        <p><small> It seems we are having some issues!</small></p>
        {% else %} {% for i in range(0,snippet_array|length) %}
        <div class="col-sm-6 mt-4">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">{{ snippet_array[i].name }}</h4>
                    <p class="card-subtitle text-muted"><a href="{{url_for('user_view.get_user_profile',email=snippet_array[i].email)}}">By:
                            {{ snippet_array[i].created_by_username }}</a></p>
                    <p class="card-text">{{ snippet_array[i].description }}</p>
                </div>
                <div class="card-block">
                    <form class='form-inline' action="/" method="POST">
                        {% if current_user.is_authenticated %}
                        <button class='btn btn-outline-dark' type="submit" formaction="{{ url_for('snippet_view.like_snippet',id=snippet_array[i].snippet_id,where='home')}}">LIKE</button> {% endif %}
                        <button class='ml-auto float-right btn btn-outline-dark' type="submit" formaction="{{ url_for('snippet_view.view',id=snippet_array[i].snippet_id)}}">Go to
                            Snippet</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %} {% endif %}
    </div>
</div>
{%endblock%}