{% extends "layout.html" %} {%block title %} Create a new Snippet {%endblock%} {%block body%}
<style>
    .blue-focus {
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
</style>




<div class="container">
    {% if edit %}
    <form action="{{ url_for('snippet_view.create_new_snippet',id=id) }}" method="POST">
        {%else %}
        <form action="{{ url_for('snippet_view.create_new_snippet') }}" method="POST">
            {%endif%}
            <div class="form-group ">
                <label for='title'>Title</label>
                <input required class='form-control' type="text" name='title' value="{% if title %}{{title}}{% endif %}" placeholder="Title">
            </div>
            <div class="form-group ">
                <label for="desc">Description</label>
                <textarea class="form-control" id="textbox" name="desc" placeholder="Description" class="blue-focus" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{% if desc %}{{desc}}{%endif%}</textarea>
            </div>
            <div class="form-group ">
                <label for="code">Enter your code</label>
                <textarea class="form-control" required id='textbox' name="code" placeholder="Code" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{% if code %}{{code}}{%endif%}</textarea>
            </div>
            <select class='mb-5' name="visibility">
                    <option 
                    {% if private %} selected {% endif %} 
                    name='private'>Private</option>

                    <option
                    {% if public %} selected {% endif %}
                     name='public'>Public</option>
                </select>

            <br>
            <button type="submit" class="btn btn-primary" formaction="{{ url_for('snippet_view.preview_new_snippet')}}">Preview snippet</button>
            <button type="submit" class="btn btn-primary">Create Snippet</button>

        </form>
        {% if email_error %}
        <div class="alert alert-warning alert-dismissible fade show">
            <strong>Error!</strong>
            <p>You don't seem to be the owner of this snippet.<a href="{{url_for('authentication_views.login')}}">
                        Try logging in</a> </p>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %} {% if code%}
        <div class="mt-5">

            <div>{{ desc|safe }}</div>
            <div class="mt-5">
                <pre><code>{{ code }}</code></pre>
            </div>
        </div>
        {% endif %}

</div>
{%endblock%}