<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <style>
        .login-form {
            width: 340px;
            margin: 30px auto;
        }
    </style>

</head>

<body>
    <div class="container">

        <nav class="navbar navbar-expand-sm bg-dark">

            <!-- Links -->
            <ul class="nav navbar">
                <form action="/" methods="post" class="form-inline ml-auto">
                    <input type="text" class="form-control mr-sm-2" placeholder="Search">
                    <button type="submit" class="btn btn-outline-success">Search</button>
                </form>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class='nav-item'>
                    <a class='nav-link' href='{{ url_for( "home") }} '>Home</a></li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li> -->

            </ul>
        </nav>

        {% if user_error %}
        <div>{{ user_error }}</div>
        {%else %}

        <div class="login-form">
            <form method="POST">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="New Password">
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" name="chng-password" id="chng-password" placeholder="Confirm new Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Change Password</button> {% if password_error %}
                <div>{{ password_error }}</div>
                {% endif %}
            </form>
        </div>
        {% endif %}
    </div>
</body>

</html>