 {% extends "layout.html" %} {%block title %}Settings for {{current_user.username}}{%endblock%} {%block body%}
<div class="container">
    <h1 class='display-1 text-center'>Public Profile</h1>
    <form action='/settings' method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name='username' value={{current_user.username}} aria-describedby="usernameHelp" placeholder="Change username">
        </div>

        <div class="from-group">
            <label for="bio">Bio</label>
            <textarea type="text" name="bio" id="bio" placeholder="Tell us more about yourself" class="form-control" value={{current_user.bio}} aria-describedby="bioHelp"></textarea>
        </div>

        <div class="or-seperator"></div>

        <h1>Access token</h1>
        <!-- TODO fix this make it good -->
        <p>Access token ais a asdfaslkdjfklaskljdf</p>
        <p><b>Warninh!</b> once a acces token is created it cant be read back</p>
        <button type="submit" class="btn-block btn btn-dark-outline" formaction="{{url_for('auth_view.access_token')}}">Generate Access Token</button>
        <button class='btn-block btn btn-dark-outline ' type='submit'>Change Settings</button>
    </form>
</div>
{%endblock%}