{% extends "layout.html" %} {%block title %} {% if user_error %} Sorry! Can't find user! {% else %} {{user.username}} {% endif %} {%endblock%} {%block body%} {% if user_error %}
<p>Sorry! We couldnt find the user!</p>
{% else %}
<div class="container">
    <h1 class="display-2 text-center">{{user.username}}</h1>
    {% if user.bio %}
    <p>{{user.bio}}</p>
    {% endif %}
    <div class="or-seperator"></div>
    <h1 class="display-4 text-center">Snippets by {{user.username}}</h1>

    <div class="row">
        {% if snippet_array|length == 0 %}
        <p><small> It seems {{user.username}} doesn't have any snippets!</small></p>
        {% else %} {% for i in range(0,snippet_array|length) %}
        <div class="col-sm-6 mt-4">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">{{ snippet_array[i].name }}</h4>
                    <p class="card-text">{{ snippet_array[i].description }}</p>
                </div>
                <div class="card-block">
                    <form class='form-inline' action="/" method="POST">
                        {% if current_user.is_authenticated %}
                        <button class='btn btn-outline-dark' type="submit" formaction="{{ url_for('snippet_view.like_snippet',id=snippet_array[i].snippet_id,where='home')}}">LIKE</button> {% endif %}
                        <button class='ml-auto float-right btn btn-outline-dark' type="submit" formaction="{{ url_for('snippet_view.view',id=snippet_array[i].snippet_id)}}">Go to
                            Snippet</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %} {% endif %}
    </div>


</div>

{% endif %} {%endblock%}